@import '../../utils/colours.scss';

#light {
    .app__about {
        min-height: 100vh;
        
        padding-top: 100px;
        background: yellow;
    
        
        color: $black-colour;
    }
}

#dark {

    .app__about {
        color: $white-colour;
    }    
}