@import '../../res/colours.scss';
@import '../../utils/Animations/animations.scss';

.navbar-nav {
    @media screen and (max-width: 900px) {
        padding: .5rem 1rem;
    }

    // Full widht of the screen.
    width: 100%;
    display: flex;
    justify-content: space-between;
    // Center the content.
    align-items: center;

    padding: 0.6rem 2rem;

    // Add a blur
    backdrop-filter: blur(4px);
    // Makes it compatible with all browsers.
    -webkit-backdrop-filter: blur(4px);

    // Ensures that it stays at the top of the screen.
    position: fixed;
    top: 0;
    // Ensures the navbar is above the content
    z-index: 2;

    transition: var(--modeTransition);



    &--wrapper {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .ce-title-circle {
            display: flex;
            width: 45px;
            height: 45px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            text-decoration: none;
            box-shadow: 6px 3px 3px rgba(150, 150, 150, 0.7);
            // Lets the user know that is it clickable.
            // cursor: pointer;

            @media screen and (max-width: 900px) {
                margin: 0.1rem;
            }

            .title {
                color: $black-colour;
                font-size: 22px;

                // Lets the user know that is it clickable.
                cursor: pointer;
            }
        }
    }

    &--scroll {
        // Background colour for the navbar.
        background: rgba($navbar-colour, 0.85);
        box-shadow: 0 0 20px rgba(128, 128, 128, 0.5);
    }

    &--links {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 0px;
        // Remove the generic link styles.
        list-style: none;

        @media screen and (max-width: 900px) {
            padding: 0px 20px;
        }

        // Access the nested 'li' component inside of this
        li {
            @media screen and (max-width: 900px) {
                display: none;
            }

            justify-content: center;
            align-items: center;
            margin: 0 0.6rem;
            // Lets the user know that is it clickable.
            cursor: pointer;

            a {
                text-decoration: none;
                color: $black-colour;

                transition: var(--modeTransition);

                &:hover {
                    color: $secondary-colour;

                    &:after {
                        transform: scaleX(1);
                    }
                }

                &:after {
                    display: block;
                    content: '';
                    border-bottom: solid 3px $secondary-colour;

                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                }
            }
        }



        // .selected {
        // 	font-weight: bold;
        // }
    }

    &--links-link-item {

        /* Specific styles for active links */
        &-active {
            border-bottom: solid 3px $secondary-colour;
        }
    }

    &--contact-me-button {
        display: inline-block;
        padding: 0.3em 1.2em;
        margin: 0 0.3em 0.3em 0;
        box-sizing: border-box;
        color: $black-colour;
        text-align: center;
        text-decoration: none;
        border: 0.1em solid $gray-colour;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;

        transition: 0.3s ease-in-out;

        &:hover {
            color: $white-colour;
            background: $secondary-colour;
        }
        &:active {
            box-shadow: 0 0.5em 0.5em -0.4em $secondary-colour;
            transform: translateY(-0.25em);
        }
    }
}

/* Specific styles for non-active links */
// .navbar-nav--links-link-item {
//     margin-bottom: 5px;
//     cursor: pointer;

//     /* Specific styles for active links */
//     &-active {
//         color: $secondary-colour;
//         border-bottom: solid 3px $secondary-colour;
//         // font-weight: bold;
//     }
// }


.app__drawer {

    // Hide this menu when the screen is larger than 900px
    @media screen and (min-width: 900px) {
        display: none;
    }

    display: flex;


    &--panel {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 80%;
        height: 100vh;
        z-index: 5;

        background: white;

        box-shadow: 0 0 20px rgb(128, 128, 128);

        transition: all 0.3s ease-in-out;

        div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 4.5rem 1.4rem;

            a {
                margin: 1rem;

                color: gray;
                text-decoration: none;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 500;


                // &:hover {
                //     color: $secondary-colour;
                // }
            }
        }
    }

    &--menuBtn-container {
        z-index: 10;

        button {
            display: flex;
            width: 35px;
            height: 35px;

            justify-content: center;
            align-items: center;
            // border: none;
            border-radius: 50px;
            border-width: 2px;
            cursor: pointer;
        }
    }

    &--show {
        transform-origin: center;
        animation: slide-left .3s ease-out;
        animation-fill-mode: both;
    }

    // &--hide {
    //     transform-origin: center;
    //     animation: slide-r .3s ease-out;
    //     animation-fill-mode: both;
    // }
}



#dark {

    .navbar-nav {

        &--wrapper {
            .ce-title-circle {
                background: rgba(200, 200, 200, 0.7);
                // width: 40px;
                // height: 40px;

                .title {
                    color: $white-colour;
                }
            }
        }

        &--scroll {
            // Background colour for the navbar.
            background: rgba($navbar-colour-dark, 0.85);
            box-shadow: 0 0 20px rgba(128, 128, 128, 0.5);
        }

        &--links {

            /* Specific styles for active links */
            &-link-active {
                color: $white-colour;
                border-bottom: solid 3px $white-colour;
                // font-weight: bold;
            }

            li {

                a {
                    color: $white-colour;

                    &:after {
                        border-bottom: solid 3px $secondary-colour-dark;
                    }
                }
            }
        }

        &--links-link-item {

            /* Specific styles for active links */
            &-active {
                color: $black-colour;
                border-bottom: solid 3px $secondary-colour-dark;
            }
        }

        &--contact-me-button {
            color: $white-colour;
            border: 0.1em solid $white-colour;

            &:hover {
                color: $black-colour;
                background: $secondary-colour-dark;
            }

            &:active {
                box-shadow: 0 0.5em 0.5em -0.4em $secondary-colour-dark;
            }
        }
    }
}