.navbar-nav {
    /* Ensures that it stays at the top of the screen. */
    position: fixed;
    top: 0;
    /* Ensures the navbar is above the content */
    z-index: 2;
     /* Full width of the screen. */
    width: 100%;
    display: flex;
    justify-content: center;
    /* Center the content. */
    align-items: center;

    /* padding: 0rem 0rem; */

    /* Add a blur */
    backdrop-filter: blur(4px);
    /* Makes it compatible with all browsers. */
    -webkit-backdrop-filter: blur(4px);
    /* box-shadow: 0 0 20px rgba(128, 128, 128, 0); */

    transition: var(--modeTransition);
}

#light .navbar-nav {
    /*background: rgba(255, 255, 255, 0.8); /* White w/opacity/see-through */
    background-color: var(--colour-lightMode);
    border-bottom: 3px solid rgb(212, 212, 212);
}
#dark .navbar-nav {
    /*background: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    background-color: var(--colour-darkMode);
    border-bottom: 3px solid rgb(97, 97, 97);
}






.navbar-nav--scroll {
    /* Background colour for the navbar. */
    background-color: rgba(var(--colour-lightMode), 0.85);
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.5);
}

#light .navbar-nav--scroll {
    /* Background colour for the navbar. */
    background-color: rgba(var(--colour-lightMode), 0.85);
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.5);
}
#dark .navbar-nav--scroll {
    /* Background colour for the navbar. */
    background-color: rgba(var(--colour-darkMode), 0.85);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}




.navbar-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}








.ce-title-circle {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* pointer-events:none; */
    text-decoration: none;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 3px 3px rgba(150, 150, 150, 0.7);
}
#light .ce-title-circle {
    background: rgba(255, 255, 255, 0.7);
    /* background: var(--colour-lightMode); */
}
#dark .ce-title-circle {
    background: rgba(200, 200, 200, 0.7);
    /* background: var(--colour-darkMode); */
}

.ce-title-circle .title {
    font-size: 22px;
}

#light .ce-title-circle .title {
    color: var(--colour-black);
}
#dark .ce-title-circle .title {
    color: var(--colour-white);
}









.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    overflow: hidden;
    list-style-type: none;

    list-style: none;
}

@media screen and (max-width: 900px) {
    .navbar-links {
        /* display: none; */
    }
}

.navbar-links a {
    display: inline-block;
    /* margin: 0; */
    text-decoration: none;
    padding: 10px;
    /* transition: var(--mainTransition); */
    text-align: center;
    font-size: 1.0rem;
    font-weight: 400;
}

#light .navbar-links a {
    color: var(--colour-white);
    transition: var(--modeTransition);
}
#dark .navbar-links a {
    color: var(--colour-dark);
    transition: var(--modeTransition);
}

.navbar-links a:hover {
    /* border-radius: 10px; */
}

.navbar-links a:after {
    display: block;
    content: '';
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

#light .navbar-links a:after {
    border-bottom: solid 3px var(--colour-lightMode);
}
#dark .navbar-links a:after {
    border-bottom: solid 3px var(--colour-darkMode);
}


.navbar-links a:hover:after {
    transform: scaleX(1);
    /* text-shadow: -1px 0 rgb(133, 132, 132), 0 1px black, 1px 0 black, 0 -1px black; */
}

#light .navbar-links a:hover {
    /* background-color: rgba(97, 97, 97, 0.4); */
}
#dark .navbar-links a:hover {
    /* background-color: rgba(255, 255, 255, 0.8); */
}

.navbar-links .selected {
    font-weight: bold;
}



@media screen and (min-width: 768px) {
    .navbar-btn {
        display: none;
    }

    /* .navbar-center {
        display: flex;
        max-width: 1170px; */
        /* margin: 0 auto; */
        /* align-items: center;
    } */

    .navbar-links {
        display: flex;
        flex: 1;
        height: auto;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar-links a {
        margin: 0 0.2rem;
    }
}






.navbar-temp-mode-toggle {
    position: fixed;
    right: 10;
    display: flex;
    width: 100px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}