@import '../../utils/colours.scss';

#light {
    background: $background-colour;
    // background: var(--colour-darkMode);
    color: $black-colour;
}

#dark {
    background: $background-colour-dark;
    // background: var(--colour-lightMode);
    color: $white-colour;


    .navbar-links {

        li {

            a {
                color: $white-colour;
            }
        }
    }
}

.navbar-nav {
	// Full widht of the screen.
    width: 100%;
    display: flex;
    justify-content: space-between;
    // Center the content.
    align-items: center;

    padding: 1rem 2rem;

    // Add a blur
    backdrop-filter: blur(4px);
    // Makes it compatible with all browsers.
    -webkit-backdrop-filter: blur(4px);
    // box-shadow: 0 0 20px rgba(128, 128, 128, 0);

    // Ensures that it stays at the top of the screen.
    position: fixed;
    top: 0;
    // Ensures the navbar is above the content
    z-index: 2;
	
    transition: var(--modeTransition);

    &--scroll {
        background: rgba(var(--colour-lightMode), 0.85);
        box-shadow: 0 0 20px rgba(128, 128, 128, 0.5);
    }


    @media screen and (max-width: 900px) {
        padding: 0px 10px;
    }
}

.navbar-wrapper {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ce-title-circle {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 6px 3px 3px  rgba(150, 150, 150, 0.7);
    // Lets the user know that is it clickable.
    // cursor: pointer;

	.title {
        color: var(--colour-black);
		font-size: 22px;

        // Lets the user know that is it clickable.
        cursor: pointer;
	}
}

.navbar-links {
	flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 40px;
    // Remove the generic link styles.
    list-style: none;

    @media screen and (max-width: 900px) {
        padding: 0px 20px;
    }


     // Access the nested 'li' component inside of this
     li {
        @media screen and (max-width: 900px) {
            // display: none;
        }

        justify-content: center;
        align-items: center;
        margin: 0 0.6rem;
        // Lets the user know that is it clickable.
        cursor: pointer;

        a {
            text-decoration: none;
            color: $black-colour;

            transition: var(--modeTransition);
    
            &:hover {
    
                &:after {
                    transform: scaleX(1);
                }
            }
    
            &:after {
                display: block;
                content: '';
                border-bottom: solid 3px var(--colour-lightMode);
                
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
            }
        }
    }

	// .selected {
	// 	font-weight: bold;
	// }
}


#dark {

	.navbar-nav {
		// background: var(--colour-darkMode);
		// border-bottom: 3px solid rgb(97, 97, 97);
        background-color: red;

        &--scroll {
            // background: rgba(var(--colour-darkMode), 0.85);
            // box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }
	}

	.ce-title-circle {
		background: rgba(200, 200, 200, 0.7);

		.title {
			color: $white-colour;
		}
	}

	.navbar-links {

        li {

            a {
                color: $black-colour;
                transition: var(--modeTransition);

                &:after {
                    border-bottom: solid 3px var(--colour-darkMode);
                }

                &:hover {
                }
            }
        }
	}
}