.navbar-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 5rem;
    backdrop-filter: blur(4px);
    z-index: 2;

    transition: var(--modeTransition);
}

#light .navbar-nav {
    /*background: rgba(255, 255, 255, 0.8); /* White w/opacity/see-through */
    background: var(--colour-lightMode);
    border-bottom: 3px solid rgb(212, 212, 212);
}

#dark .navbar-nav {
    /*background: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    background: var(--colour-darkMode);
    border-bottom: 3px solid rgb(97, 97, 97);
}

.navbar-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






.navbar-title {
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 10px;
}
#light .navbar-title {
    color: var(--colour-black);
}
#dark .navbar-title {
    color: var(--colour-white);
    /* text-shadow: -1px 0 rgb(133, 132, 132), 0 1px black, 1px 0 black, 0 -1px black; */
}






.ce-title-circle {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* pointer-events:none; */
    text-decoration: none;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 3px 3px rgba(150, 150, 150, 0.7);
}

#light .ce-title-circle {
    background: rgba(255, 255, 255, 0.7);
    /* background: var(--colour-lightMode); */
}

#dark .ce-title-circle {
    background: rgba(200, 200, 200, 0.7);
    /* background: var(--colour-darkMode); */
}

.ce-title-circle .title {
    font-size: 22px;
}

#light .ce-title-circle .title {
    color: var(--colour-black);
}

#dark .ce-title-circle .title {
    color: var(--colour-white);
}









.navbar-links {
    overflow: hidden;
    list-style-type: none;
}

.navbar-links a {
    display: inline-block;
    /* margin: 0; */
    text-decoration: none;
    padding: 10px;
    /* transition: var(--mainTransition); */
    text-align: center;
    font-size: 1.0rem;
    font-weight: 400;
}

#light .navbar-links a {
    color: var(--colour-white);
    transition: var(--modeTransition);
}

#dark .navbar-links a {
    color: var(--colour-dark);
    transition: var(--modeTransition);
}

.navbar-links a:hover {
    /* border-radius: 10px; */
}

.navbar-links a:after {
    display: block;
    content: '';
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

#light .navbar-links a:after {
    border-bottom: solid 3px var(--colour-lightMode);
}

#dark .navbar-links a:after {
    border-bottom: solid 3px var(--colour-darkMode);
}


.navbar-links a:hover:after {
    transform: scaleX(1);
    /* text-shadow: -1px 0 rgb(133, 132, 132), 0 1px black, 1px 0 black, 0 -1px black; */
}

#light .navbar-links a:hover {
    /* background-color: rgba(97, 97, 97, 0.4); */
}

#dark .navbar-links a:hover {
    /* background-color: rgba(255, 255, 255, 0.8); */
}

.navbar-links .selected {
    font-weight: bold;
}



@media screen and (min-width: 768px) {
    .navbar-btn {
        display: none;
    }

    .navbar-center {
        display: flex;
        max-width: 1170px;
        /* margin: 0 auto; */
        align-items: center;
    }

    .navbar-links {
        display: flex;
        flex: 1;
        height: auto;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar-links a {
        margin: 0 0.2rem;
    }
}






.navbar-temp-mode-toggle {
    /* position: absolute;
    left: 20px;
    bottom: 0; */

    position: absolute;
    top: 0;
    bottom: 0;
    right: 180px;
}