@import '../../utils/colours.scss';

.app__projects {
    min-height: 100vh;
    
    padding-top: 100px;

    color: $black-colour;
}

#dark {

    .app__projects {
        color: $white-colour;
    }    
}