@import '../../utils/colours.scss';

.app__skills {
    min-height: 100vh;
    
    padding-top: 100px;

    color: $black-colour;
    background-color: cyan;
}

#dark {

    .app__skills {
        color: $white-colour;
    }    
}