@import '../../utils/colours.scss';
@import '../../utils/values.scss';

.app__skills {
    min-height: calc(100vh - $footer-height);

    padding-top: 80px;
    padding-bottom: 30px;

    color: $black-colour;
    // background-color: cyan;

    &--title {
        font-size: 40px;
        text-align: left;
    }

    &--content {
        padding-top: 30px;
    }

    .skill-list {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        &--item {
            display: flex;
            flex-direction: row;
            align-items: center;


            &::before {
                content: "•";
                display: inline-block;
                // left: 0;
                color: $black-colour;
                font-size: 20px;
                font-weight: bold;
                padding: 0px 5px;
            }
        }

        :first-child {
            padding: 0px 0px;

            &::before {
                content: none;
            }
        }
    }
}

#dark {

    .app__skills {
        color: $white-colour;

        .skill-list {
    
            &--item {
    
                &::before {
                    color: $white-colour;
                }
            }
        }
    }
}