@import '../../res/colours.scss';

.page {
    width: 100%;

    header {
        display: table;
        width: 100%;
        margin-bottom: 20px;

        .cell {
            display: table-cell;
        }

        .text {
            width: 1%;
            padding: 0 10px;
        }

        line {
            @media screen and (max-width: 900px) {
                top: -0.8em;
            }

            border-bottom: 3px solid rgba($secondary-colour, 0.4);
            position: relative;
            top: -1.3em;
        }
    }

}


#dark {
    .page {

        header {

            line {
                border-bottom: 3px solid rgba($secondary-colour-dark, 0.4);
            }
        }
    }
}