@import '../../utils/colours.scss';

.app__footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 170px;
    // Center the content.
    align-items: flex-start;

    padding: 1rem 1rem;

    background-color: gray;


    &--contents {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        // justify-content: space-between;
        // background: red;


        .socials {
            @media screen and (max-width: 900px) {
                margin-right: 10px;
            }
            width: 20%;
            // background: blue;

            .title {
                @media screen and (max-width: 900px) {
                    font-size: 18px;
                }

                color: $white-colour;
                font-weight: bold;
            }

            .links {
                display: flex;
    
                &-icon {
                    @media screen and (max-width: 900px) {
                        width: 15px;
                        height: 15px;
                        margin-right: 5px;
                    }

                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                    cursor: pointer;
    
                    svg {
                        color: white;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }


        .categories {
            width: 40%;
            color: $white-colour;

            .title {
                @media screen and (max-width: 900px) {
                    font-size: 18px;
                }
                
                font-size: 18px;
                font-weight: bold;
            }
            .content {
                font-size: 14px;
            }
        }

        .quick-links {
            width: 40%;
            color: $white-colour;

            .title {
                @media screen and (max-width: 900px) {
                    font-size: 18px;
                }

                font-size: 18px;
                color: $white-colour;
                font-weight: bold;
            }
            .page-links {
                font-size: 14px;
                // Remove the generic link styles.
                list-style: none;
        
                // Access the nested 'li' component inside of this
                li {
                    margin-bottom: 2px;
                    // Lets the user know that is it clickable.
                    cursor: pointer;
        
                    a {
                        text-decoration: none;
                        color: lightgray;
                    }
                }
            }
        }
    }

    &--baseline {
        @media screen and (max-width: 900px) {
            padding-right: 60px;
        }

        display: flex;
        flex-direction: column;
        width: 100%;
        // justify-content: space-between;
        padding-right: 100px;

        .line {
            position: relative;
            top: 0;
            float:right;
            width: 100%;
            height: 2px;
            background: $white-colour;
            border-radius: 5px;
            margin: 0.7rem 0rem;
        }

        .container {
            flex: 1;
            display: flex;
            justify-content: space-between;

            .copyright {
                color: $white-colour;
    
                @media screen and (max-width: 900px) {
                    font-size: 10px;
                }
                font-size: 12px;
            }


            // .socials {
            //     @media screen and (max-width: 900px) {
            //         display: none;
            //     }

            //     .links {
            //         display: flex;
        
            //         &-icon {
            //             width: 20px;
            //             height: 20px;
            //             margin-right: 15px;
            //             cursor: pointer;
        
            //             svg {
            //                 color: white;
            //                 width: 100%;
            //                 height: 100%;
            //             }
            //         }
            //     }
            // }
        }
    }
}