@import './utils/colours.scss';


body {
    // #light {
    background: $background-colour;
    /* background: var(--colour-darkMode); */
}

.app__theme-button {
    z-index: 1;
    background: $secondary-colour;
    // box-shadow: 6px 3px 3px rgba(150, 150, 150, 0.7);

    // transition: 0.1s ease 0s;
    // backdrop-filter: blur(3px);

    &:hover {
        // transform: rotate(-90turn);
    }
}

#dark {
    background: $background-colour-dark;
    /* background: var(--colour-lightMode); */


    .app__theme-button {
        background: $secondary-colour-dark;
        // background: rgba(150, 150, 150, 0.7);
        box-shadow: 6px 3px 3px rgba(255, 255, 255, 0.7);;
    }
}