@import './utils/colours.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;


  // button {


  //   // &:active {
  //   &:focus {
  //     outline: none !important;
  //     border: none !important;
  //     -webkit-box-shadow: none !important;
  //     box-shadow: none !important;

  //   }
  // }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-white: #dfddd6;
  --main-font: 'Stardos Stencil';
  /*, cursive; */
  /* Transitions for navbar link selection. */
  --mainTransition: all 0.25s ease-in-out;
  /* Transitions for mode (dark/light) selection. */
  --modeTransition: all 0.25s ease-in-out;


  /* Colours */
  --colour-white: #fff;
  --colour-black: #000;

  --colour-lightMode: rgba(237, 242, 248, 1);


  --colour-darkMode: rgba(66, 65, 65, 1);

  /* color: var(--colour-black); */
}



.app__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.app__pading-horizontal {
  /* top | right | bottom | left */
  padding: 0rem 3rem;

  @media screen and (max-width: 550px) {
    /* top | right | bottom | left */
    padding: 0rem 1.5rem;
  }
}

.app__bottom-border {
  border-bottom: solid 3px $secondary-colour;
  width: fit-content;
}

.app__hide-smaller-device {
  @media screen and (max-width: 550px) {
    display: none;
  }
}

#dark {

  .app__bottom-border {
    border-bottom: solid 3px $secondary-colour-dark;
  }
}