@import '../../../res/colours.scss';

form {
    div {
        position: relative;

        label {
            position: absolute;
            top: 10px;
            left: 0;
            color: #999;
            pointer-events: none;
            transition: var(--modeTransition);
        }

        textarea {
            width: 300px;
            height: 150px;
        }
    }

    textarea {
        min-height: 80px;
        max-height: 150px;
        min-width: 100%;
        max-width: 100%;
    }

    textarea {
        width: 100%;
        box-sizing: border-box;
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 2px solid #999;
        transition: var(--modeTransition);

        padding: 10px 0;
        margin-bottom: 30px;

        &:focus {
            // border-bottom: 5px solid $secondary-colour;
        }
    }

    textarea:focus~label,
    textarea:valid~label {
        top: -12px;
        left: 0;
        color: $secondary-colour;
        font-size: 1em;
        font-weight: bold;
    }
}

.textarea-icon {
    position: absolute;
    right: 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-bottom: 20px;
    // max-width: 48px;
    // height: 100%;

    
    svg {
        display: block;
    }
}













/*
div {
    position: relative;

    label {
        position: absolute;
        top: 10px;
        left: 0;
        color: #999;
        pointer-events: none;
        transition: var(--modeTransition);
    }

    textarea {
        width: 300px;
        height: 150px;
    }
}

.icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    width: 10%;
    // max-width: 48px;
    // height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    >svg {
        display: block;
    }
}
*/